imagery
archive
batch_imagery
geo*
.ipynb*
__pycache__
*.ipynb
reinforcement_q_learning copy.ipynb
reinforcement_q_learning.ipynb
scrap.ipynb
test.ipynb
.DS_Store
dhs.py
models/
job_outputs/
dhsrl
train_ims
nodes2*

ex.py
btest
tjob
today/
yesterday/
job copy